{% extends "main/layout.html" %}
{% load static %}

{% block title %} Королевства {% endblock %}

{% block body %}
    <h1>
        Королевства
    </h1>
    <table class="table rounded border-0" style="float: left">
        {% for el in kingdoms %}
            <tr>
                <td width="58%" class="border-0">
                    <span class="Title"><a href="{% url 'kingdom_detail' el.id %}">{{el.name}}</a></span>
                </td>
                <td class="border-0">
                    <p>Кол-во просмотров: <span class="Views">{{el.description.Number}}</span></p>
                    <p>Комментарии: <span class="Views">{{el.description.comment_set.count}}</span></p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}