{% extends "main/layout.html" %}
{% load static %}

{% block title %}{{ wizard.personal.FIO }}{% endblock %}

{% block body %}
    <h1 style="margin-left: 70px; margin-top: 1vw;">
        {{ wizard.personal.FIO }}
    </h1>
    <table class="table rounded border-0">
        <tr><td class="border-0">
            Магия: {{ wizard.magic }}
        </td></tr>
        <tr><td class="border-0">
            Имя: {{ wizard.personal.FIO }}
        </td></tr>
        <tr><td class="border-0">
            Раса: {{ wizard.personal.race }}
        </td></tr>
        <tr><td class="border-0">
            Пол: {{ wizard.personal.sex }}
        </td></tr>
        <tr><td class="border-0">
            Дата рождения: {{ wizard.personal.Date }}
        </td></tr>
        <tr><td class="border-0">
            Известность: {{ wizard.fame }}
        </td></tr>
        <tr><td class="border-0">
            О Чародее: {{ wizard.description.Text }}
        </td></tr>
    </table>

    <h1 style="margin-left: 70px; margin-top: 1vw;">
        Комментарии
    </h1>

    <table class="table rounded border-0">
        {% for comment in wizard.description.comment_set.all %}
        <tr>
            <td class="border-right" width="25%" align="center">
                <p>{{ comment.user.username }}</p>
                <p>{{ comment.datetime }}</p>
            </td>
            <td class="border-0" width="70%">
                {{ comment.comment }}
            </td>
            <td class="border-0" width="5%">
                <span class="GoTo"><a href="{% url 'delete_comment' comment.id %}" style="color: black"><i class="fas fa-times"></i></a></span>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form method="post">
    {% csrf_token %}
    {{ form.comment }}
    <button class="btn btn-light" type="submit" style="margin-left: 10px;">Добавить</button>
    </form>

{% endblock %}